      /* movie card.......................................... */
      
      #movie-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 5vmin;
          padding: 10vmin 0 15vmin 0;
      }
      
      .movie-card {
          margin-top: 2vmin;
          padding: 5vmin;
          width: 30vmin;
          height: 50vmin;
          background: linear-gradient(145deg, #490180, #140029);
          box-shadow: 0vmin 0vmin 3vmin #ffffff1a;
          border: 0.2vmin solid white;
          border-radius: 3vmin;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          transition: 0.3s ease;
          cursor: pointer;
      }
      
      .movie-card.clicked {
          transform: scale(1.5);
      }
      
      .movie-card:hover {
          background: rgb(25, 9, 39);
      }
      
      .movie-card img {
          height: 45vmin;
          width: 100%;
          margin: 0 auto;
          border-radius: 2vmin 2vmin 0 0;
      }
      
      .movie-card h3 {
          color: #f7f7f7;
          font-size: 2.5vmin;
          text-align: center;
          margin-top: 2vmin;
      }