* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #151e3f;
    color: #f2f3d9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vmin;
}

.msg {
    color: #f2f3d9;
    font-size: 3rem;
    font-weight: 600;
}

.new-btn {
    height: 8vh;
    width: 15vw;
    color: #f2f3d9;
    background-color: #030027;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 70px;
    background-color: #f2f3d9;
    color: #030027;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    color: #fff;
    background-color: #5e696e;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    font-weight: 900;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.box:hover {
    background-color: black;
    border: solid white;
}

.rst-btn {
    height: 8vh;
    width: 15vw;
    color: #f2f3d9;
    background-color: #030027;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 11.1vmin;
}

.hide {
    display: none;
}